openapi: 3.1.0
info:
  title: Mason Apps Retrieve an Image API
  version: 0.1.0
  description: Mason (getmason.io / ModeMagic) apps API — harvested verbatim from the provider's ReadMe-hosted OpenAPI definition at getmason.dev.
servers:
- url: https://api.getmason.io
tags:
- name: Retrieve an Image
paths:
  /api/images/{uid}:
    get:
      tags:
      - Retrieve an Image
      summary: Get Image
      description: Get Image Generation status
      operationId: Get_Image_api_v1_genie_images__uid__get
      parameters:
      - description: UID received from generation task
        required: true
        schema:
          type: string
          title: UID
          description: UID received from generation task
        name: uid
        in: path
      responses:
        '200':
          description: Generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationStatusResponse'
              examples:
                response:
                  value:
                    status: 1
                    url: https://media.kubric.io/api/videos-kubric/image_png_1911414190.png
        '401':
          description: Unauthorized call to the API
          content:
            application/json:
              examples:
                response:
                  value:
                    message: Authentication check failed. Please check the Authorization header
        '422':
          description: Bad request
        '500':
          description: Failure
          content:
            application/json:
              examples:
                response:
                  value:
                    status: -1
      security:
      - OAuth2PasswordBearer: []
components:
  schemas:
    GenerationStatusResponse:
      properties:
        status:
          type: string
          title: Status
        url:
          type: string
          title: Url
      type: object
      title: GenerationStatusResponse
  securitySchemes:
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: token
